.padding-custom{
    padding-right: 5% !important;
}

.navbar{
    background: #151111 !important;
    position: fixed !important;
    margin-top: 0px !important;
}

section{
    margin-top: 100px !important
}