.menu-section {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-div {
    margin: 0 2% 2% 2%;
}

.menu-section h2 {
    font-weight: bold;
    margin-top: 0;
}

.menu-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.menu-section li {
    margin-right: 20px;
    margin-bottom: 20px;
    display: flow;
}

.menu-section li span {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menu-section li input[type="number"] {
    width: 50px;
    height: 20px;
    padding: 8px;
    margin: 0px 8px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.menu-section li button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.description-item {
    font-weight: normal !important;
    display: block;
}

.button-precio-total{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight:lighter;
    background-color: #503620;
    color: #fff;
    cursor: pointer;
}

.button-agregar {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight:lighter;
    background-color: #8B6E55;
    color: #fff;
    cursor: pointer;
}

.button-agregar:hover {
    background-color: #D1C0B3;
    color: #503620;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-agregar:active {
    background-color: #C9C9B7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.menu-section li button[type="button"]:hover {
    background-color: #3e8e41
}

.button-increment, .button-decrement{
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: lighter;
    background-color: #8B6E55;
    color: #fff;
    cursor: pointer;
}